@import '../_colors.scss';

.home-wrap {
    width: 100vw;
    // height: 1790px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.body {
    width: 100vw;
    // height: 1710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    // border: solid red 2px;
}

.hero {
    width: 1050px;
    height: 510px;
    background-image: url('../../images/BoxOfChocolates.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    a {
        // width: 150px;
        // border-bottom: solid 1px;
        // border: solid red;
        padding: 450px 30px 30px 923px;
        display: block;
        // margin-right: 30px;
        // margin-bottom: 25px;
        color: white;
        font-family: Baskerville;
        font-size: 16pt;
        font-weight: normal;
        // text-decoration: none;
    }
    a:hover {
        color: $purple;
    }
}

.body-content {
    width: 1050px;
    // height: 420px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    // border: solid;

    img {
        width: 336px;
        height: auto;
    }

    img:hover {
        width: 330px;
        border: solid 3px $purple;
    }
}

