@import '../_colors.scss';

.header-wrap {
    width: 100vw;
    height: 80px;
    background: $dark-purple;
    display: flex;
    justify-content: center;
}

.header {
    width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 390px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // border: solid white 1px;

    img {
        width: 130px;
        height: auto;
        margin-left: 50px;
    }
}

.nav {
    width: 390px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    // border: solid white 1px;

    a {
        color: white;
        font-family: Baskerville;
        font-size: 13pt;
        margin-bottom: 20px;
        text-decoration: none;
    }

    a:hover {
        color: $brown;
    }
}

.login-register-wrap {
    width: 390px;
    height: 80px;
    // border: solid white 1px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.login-regi{
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

    a {
        color: white;
        font-family: Baskerville;
        font-size: 13pt;
        margin-bottom: 20px;
        text-decoration: none;
    }

    a:hover {
        color: $brown;
    }
}