.header-wrap {
  width: 100vw;
  height: 80px;
  background: #4E2E71;
  display: flex;
  justify-content: center; }

.header {
  width: 1050px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .logo img {
    width: 130px;
    height: auto; }

.nav {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .nav a {
    color: white;
    font-family: Baskerville;
    font-size: 13pt;
    margin-bottom: 20px;
    text-decoration: none; }
  .nav a:hover {
    color: #BD9466; }

.login-register-wrap {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .login-register-wrap img {
    width: 23px;
    height: 29px;
    margin-bottom: 17px; }

.login-regi {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }
  .login-regi a {
    color: white;
    font-family: Baskerville;
    font-size: 13pt;
    margin-bottom: 20px;
    text-decoration: none; }
  .login-regi a:hover {
    color: #BD9466; }
